{% extends "base2.html" %}   <!--base.html 을 상속받으며 첫줄에 와야함 -->

{% block title %}password_change_done.html{% endblock %}

{% load staticfiles %} <!-- 커스텀 태그를 사용하기 위해 staticfiles 모듈 로딩 / 정적인 항목들은 static 파일을 만들어서 사용 -->
{% block extrastyle %}{% static "css/forms2.css" %}{% endblock %}

{% block content %}

<div id="content6">

    <h1 style="color:#225273;">Password Change Successfully ! </h1>

    <h3 style="color: #2420bb;"><a id="h" href="{% url 'home' %}">" Engoy Game! "</a></h3>

</div>

{% endblock %}

{% block footer %}
{% endblock footer %}