{% extends "base2.html" %}   <!--base.html 을 상속받으며 첫줄에 와야함 -->

{% block title %}password_change_form.html{% endblock %}

{% load staticfiles %}  <!-- 커스텀 태그를 사용하기 위해 staticfiles 모듈 로딩 -->
{% block extrastyle %}{% static "css/forms2.css" %}{% endblock %}    <!-- extrastyle : 외부 스타일 사용 -->


{% block content %}

<div id="content5">

   <h1 style="color:#225273;">Change Password </h1>

    <form action="." method="post">{% csrf_token %} <!-- action="." : 현재경로 사용하겠다. -->

    {% if form.errors %}
        <p class="errornote">Wrong! Please correct the error(s) below.</p>
    {% endif %}

    <p>Please enter your old password for security's safe,<br /> and then enter your new password twice.</p>

    <fieldset class="aligned">

         <div class="form-row">
            {{ form.old_password.label_tag }} {{ form.old_password }}   <!-- form.old_password : 장고프레임웤에서 가져다 씀, 우리가 정하는것 아님 -->
        </div>

        <div class="form-row">
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        </div>

        <div class="form-row">
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        <hr>
        </div>
        <br />
    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Password Change" style="width: 140px; margin-top: 32px;" /> <!-- Password Change 누를시 password_change_done 문서를 호출 -->
    </div>

    <script type="text/javascript">document.getElementById('id_old_password').focus();</script>
    </form>

</div>
{% endblock %}

{% block footer %}
{% endblock footer %}