<!-- 회원가입을 위한 형식 -->
{% extends "base.html" %} <!--base.html 을 상속받으며 첫줄에 와야함 -->

{% block title %}register.html{% endblock %}

{% load staticfiles %} <!-- 커스텀 태그를 사용하기 위해 staticfiles 모듈 로딩 / 정적인 항목들은 static 파일을 만들어서 사용 -->
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}    <!-- extrastyle : 외부에 있는 스타일 항목을 연결할 시 -->

{% block content %}

<div id="content3" style="margin-top: 30px;">

    <h1 style="color:#225273;">New User Registration</h1>
                        <!-- action 이 . 이라면 현재경로를 의미 -->
    <form method="post" action=".">{% csrf_token %} <!--다른 경로를 통해서 해킹 방지를 위해 필요/ post 형식에서 필요-->

        {% if form.errors %}
        <p class="errornote">Wrong! please correct the error(s) below.</p> <!-- 에러발견시 실행 -->
        {% endif %}

        <p>Please enter your username etc</p>

        <fieldset class="aligned">

            <div class="form-row"> <!-- label_tag - 만약 username이 kim이라면 kim: 이렇게 콜론까지 붙어져서 보여준다. -->
                {{ form.username.label_tag }}{{ form.username }}
            </div>

            <div class="form-row">
                {{ form.password1.label_tag }}{{ form.password1 }}
            </div>

            <div class="form-row">
                {{ form.password2.label_tag }}{{ form.password2 }}
                <hr>
            </div>

        </fieldset>
        <br/>
        <div class="submit-row" id="regibtn">
            <input type="submit" value="Register" style="margin-top: 15px;" />
        </div>

        <script type="text/javascript">document.getElementById("id_username").focus();</script>
        <!-- 해당 문서 로드 완료후 id_username에 자동으로 포커스 이동  -->
    </form>

</div>

{% endblock %}

{% block footer %}
{% endblock footer %}