/* ================== "container-fluid"  ==================*/
#total{
    text-align: center;
    margin: 0 auto;

}

/* ================== "container-fluid"  끝==================*/

/* ================== 로그인과 등록부분 css  ==================*/
.welcome {
    vertical-align: bottom;
    text-align: right;
    padding-right: 20px;
    color: #ffc;
    font-weight: normal;
    font-size: 20px;
    text-align: right;
    font-style: italic;
}

.welcome a:link, .welcome a:visited {
    color: white;
}

#wel {
    padding-right: 40px;
}

#out1, #out2 {
    color: #1a2e7b;
    opacity: 0.8;
}

#out1:hover, #out2:hover {
    color: white;
}

#log1 {
    color: white;
}

#log2 {
    color: white;
    padding-right: 35px;
}

#log1:hover, #log2:hover {
    color: #2746be;
    opacity: 0.8;
}
/* ================== 로그인과 등록부분 css 끝  ==================*/

/* ================== title  ==================*/
div#h-box{
    border:1px solid #9fcbea;
    border-radius : 7px;
    background : #2980b9;
    height: 70px;
    width: 45%;
    margin: 0 auto;
    margin-top: 10px;
}

.maintitle  {
    margin-top: 15px;
    color: #ffffff;;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.maintitle:hover, focus {
    color: #112d46;
    text-decoration: dotted;
}

div#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 173px;
    width: 100%;
    background: #9fcbea;
    padding: 35px;
}
/* ================== title 끝 ==================*/

/* ================== 선수선택 ==================*/

.ch {
    display: inline;
    margin: 5px;
    color: #433d3d;
}
.tc {
    display: inline;
    margin: 10px;
    font-size: 15px;
    padding-right: 20px;
}

#txt-choice {
    margin-right: 60px;
}


#choice {
    text-align: center;
    margin: 0 auto;
}

input#search1{
    width: 10%;
    border: 2px solid #c1def2;
    border-radius: 5px;
    box-shadow: none;
    margin-right: 1px;

}

button#icon{
    background-color:#deeefa;
    text-decoration: none;
    border: 0px solid;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
    color: rgba(30, 22, 54, 0.6);
    text-align: center;
    font-size:14px;
}

button#icon:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #3498db 0 0px 0px 40px inset;
    text-decoration: none !important
}

#st_h4{
    font-size:20px;
}

div#row1{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

button#search2 {
    background-color:#deeefa;
    text-decoration: none;
    border: 1px solid #82a8c0;
    border-radius: 4px;
    height: 31px;
    width: 55px;
    color: rgba(30, 22, 54, 0.6);
    text-align: center;
    font-size:13px;

}

button#search2:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #3498db 0 0px 0px 40px inset;
    text-decoration: none !important
}

.sl {
    width: 6%;
    height: 25px;
    border: 2px solid #bedcf1;
    border-radius: 5px;
    box-shadow: none;
}

/* ================== 선수선택 끝 ==================*/

/* ================== 왼쪽 오른쪽 Team 공통으로들어갈 부분 시작 ======================*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}


.sortable{
    float:left;
}

.sortable li {
    background: white;
    margin: 5px;
    padding: 5px;
    width: 150px;
    text-align: center;
}

.index{
    float:left;
}

.index > ul li{
    height: 30px;
    width: 30px;
    margin: 5px 3px 7px 3px;
    padding: 4px;
    background: rgb(22, 160, 133);
    color: white;
    font-size: 17px;
    text-align: center;
}

.delete{
    float:left;
    width:20px
    height:20px;
}

.delete button{
    margin-bottom: 7px;
}
/* ================== 왼쪽 오른쪽 Team 공통으로들어갈 부분 끝 ======================*/


/* ================== 왼쪽 Team 시작 ======================*/



#left {
    width: 300px;
    background-color: rgba(52, 152, 219, 0.1);
    padding:25px;
    border: 0;
    border-radius: 15px;
    margin-left: 80px;

}

#left-li {
    background: rgb(93, 168, 218);
    width: 30px;
    border-radius: 5px;
    margin-bottom: 7px;
    //margin: 5px;
    padding: 5px;
    text-align: center;

}

#sort-li {
    width: 150px;
    background: white;
    border: 1px solid #5b8dc0d1;
    border-radius: 5px;

}

#delete {
    margin: 7px;

}

#del1{
    //background-color: #eaf4fb;
    background-color:#deeefa;
    border: 0px solid ;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
    color: rgba(30, 22, 54, 0.6);

}

#del1:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #378dd7 0 0px 0px 40px inset;
    text-decoration: none !important
}
/* ================== 왼쪽 Team 끝 ======================*/


/* ================== 가운데 버튼 ======================*/

#box_center1{
    text-align: center;
    margin-top: 70px;
}

#start {
    background-color:#378dd7;
    border: 0px solid ;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 50px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    font-size:20px;
}

#start:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow:  #3f68aa 0 0px 0px 40px inset;
    text-decoration: none !important
}


#Result {
    background-color: #8ac7fc;
    border: 0px solid ;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 50px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    font-size:18px;
}

#Result:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow:  #007fff 0 0px 0px 40px inset;
    text-decoration: none !important
}

#Rhide {
    background-color: #4cc7afb0;
    border: 0px solid ;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 40px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    font-size:18px;
}

#Rhide:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(59, 201, 172, 0.47) 0 0px 0px 40px inset;
    text-decoration: none !important
}
/* ================== 가운데 버튼 끝======================*/

/* ================== 스코어 보드 시작======================*/

#score_board{
    width: 600px;
    border-collapse: collapse;
}
#score_board thead th{
    padding: 8px 2px 6px 2px;
    border: 1px solid #d8d8d8;
    border-right: 0;
    width: 20px;
    color: #847f7f;
    background: #f5f5f5;
    border-left-color: #eee;
    text-align: center
}

#score_board td{
    text-align: center;
    padding: 7px 0 4px 0;
    border: 1px solid #ededed;
    border-width: 0 0 1px 1px;
    color:#494949
}

#score_board th{
    padding: 7px 0 4px 0;
    border: 0;
    border-bottom: 1px solid #ededed;
    color:#494949
}

#score_board td strong{
    color: #f4561c;
}

/* ================== 스코어 보드 끝======================*/

/* ================== Team이름 정하기 시작======================*/

#teamName1 {
    width: 200px;
    border: 1px solid #5b8dc0d1;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    background: rgb(93, 168, 218);

}

#t1Name{
    width: 198px;
    border: 2px solid #ebf1f4;
    border-radius: 5px;
    text-align: center
}

#teamName2 {
    width: 200px;
    border: 1px solid #a5d89f;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    background: rgb(26, 188, 156);

}

#t2Name{
    width: 198px;
    border: 2px solid #ebf1f4;
    border-radius: 5px;
    text-align: center
}

/* ================== Team이름 정하기 끝======================*/

/* ================== 오른쪽 Team 시작======================*/

#right {
    width: 300px;
    background-color: rgba(22, 160, 133, 0.15);
    padding:25px;
    border: 0;
    border-radius: 15px;

    //margin-right: 30px;

}

#right-li {
    background: rgb(26, 188, 156);
    width: 30px;
    border-radius: 5px;
    margin-bottom: 7px;
    //margin: 5px;
    padding: 5px;
    text-align: center;

}

#sort-li2 {
    width: 150px;
    background: white;
    border: 1px solid #6bc05bd1;
    border-radius: 5px;

}

#delete2 {
    margin: 7px;

}

#del2{
    background-color:#cdefd9;
    border: 0px solid ;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
    color: rgba(30, 22, 54, 0.6);

}

#del2:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #1abc9c 0 0px 0px 40px inset;
    text-decoration: none !important
}
/* ================== 오른쪽 Team 끝======================*/

/* ================== 주요경기 보기 시작 ======================*/

.toggler{
width: 800px;
text-align: center;
margin: 0 auto;

}


#tabs{
    height: 100%;
    background: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 5px;
}

#record_tab{
    overflow-y:auto;
    height: 310px;
    background: #f5fcff;
}


#effect  {
    border: 0px solid rgba(184, 222, 255, 0.67);
    border-radius: 5px;
    background: rgba(184, 222, 255, 0.67);
    padding: 20px;
    //text-align: center;
    //margin: 0 auto;
    margin-left: 12px;
}

.ui-widget-header {
    border: 1px solid #5da8da;
    background: #5da8da;
    color: #333333;
    font-weight: bold;

}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid  #8ac7fc;
    background: #8ac7fc;
    font-weight: normal;
    color: #ffffff;

}


/* ================== 주요경기 보기 끝 ======================*/


